*.dSYM/
build-crowpanel/
build/
dist/
firmware-backup/
host_tests/test_canvas
host_tests/test_font
host_tests/test_font_clock
host_tests/test_logview
host_tests/test_pages
host_tests/test_textwrap
host_tests/test_timecalc
host_tests/test_usagedata
mac/tell
sdkconfig
sdkconfig.crowpanel
sdkconfig.crowpanel.old
sdkconfig.old
