build/
sdkconfig
sdkconfig.old
mac/tell
host_tests/test_textwrap
host_tests/test_font
host_tests/test_timecalc
*.dSYM/
dist/
firmware-backup/
build-crowpanel/
sdkconfig.crowpanel
sdkconfig.crowpanel.old
host_tests/test_canvas
host_tests/test_font_clock
